@font-face {
    font-family: arcade_font;
    src: url(../fonts/arcade.ttf)
}

/* label {
    font-family: arcade_font;
    font-size: 20pt;
} */

.centered {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
}

table, tr, td {
    border: 1px solid black;
}

#main_table td 
{
    text-align: center; 
    vertical-align: middle;
}

#minefield {
    text-align: center; 
    vertical-align: middle;
}
/* #scoreboard {
    margin-bottom: 0 auto;
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  