<!DOCTYPE html>
<html>
    <head>
        <title>Multiplayer Minesweeper</title>
        <script src="./static/p5.min.js"></script>
        <script src="./static/script.js"></script>
        <script src="./static/jquery-3.5.1.min.js"></script>
        <link rel="icon" href="./static/img/icon.jpeg">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>
    <body onbeforeunload="on_player_leave()">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" style="margin-left: 1%">Multiplayer Minesweeper</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <form>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input class="form-control me-2" id="nickname_input" placeholder="Change nickname" aria-label="Username">
                    <button class="btn btn-outline-success" onclick="send_nickname()">Change</button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <span class="navbar-text" id="navbar-nickname"></span>
        </div>
      </nav>

      <div class="container">
          <!-- <table>
            <tr>
              <td><button onclick='game_init({{field}})'>click me</button></td>
              <td><button onclick='send_data()'>send my data</button></td>
              <td><button onclick='generate_field()'>generate new field</button></td>
              <td><button onclick='get_players_data()'>get others' data</button></td>
              <td><button onclick='on_game_end()'>end?</button></td>
              <td><input type="text" id="nickname_input" placeholder="Your name..."></td>
              <td><button onclick='send_nickname()'>change nickname</button></td>
            </tr>
          </table>  -->
          <table>
            <tr>
              <td><div class="minefield" id='minefield'></div></td>
              <td><div class="scoreboard">
                <table>
                  {% for i in range(player_amount) %}
                    <tr>
                      <td><label id='nickname{{i}}'></label></td>
                    </tr>
                  {% endfor %}
                </table>
              </div></td>
            </tr>
          </table>
      </div>   
    </body>
</html>